/* ----------------------------------------------------------------------------
BASIC HTML
---------------------------------------------------------------------------- */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, button{
  font-family: 'Helvetica Neue', arial, sans-serif;
}

body {
 background: url('/images/background.png');
 background-position: center top;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

header {
	position: absolute;
	top : 20%;
	left : 20%;
	padding : 5%;
	background-color: rgba(255, 255, 255, 0.5)
}

fieldset {
	display: inline-block;
	margin-left: 8px;
}


/* ----------------------------------------------------------------------------
MIX IT UP
---------------------------------------------------------------------------- */

.controls{
  padding: 2%;
  background: #333;
  color: #eee;
}

.mixitup_container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: #dccad6;
  -webkit-backface-visibility: hidden;
}

.mixitup_container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.mixitup_container .mix,
.mixitup_container .gap{
  display: inline-block;
  width: 49%;
}

.mixitup_container .mix{
  text-align: left;
  display: none;
  margin-bottom: 2%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background: #233529;
}

.mixitup_container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
}

.mixitup_container .mix:before{
  content: '';
  display: inline-block;
}

.mix{
	background-position: center; 
	background-size: contain;
	background-repeat: no-repeat;
}

@media all and (min-width: 420px){
  .mixitup_container .mix,
  .mixitup_container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .mixitup_container .mix,
  .mixitup_container .gap{
    width: 23.5%;
  }
}

/* ----------------------------------------------------------------------------
CUSTOM CLASSES
---------------------------------------------------------------------------- */

.cover {
	cursor: pointer;
}

.cover > label {
	text-align: center;
	bottom: 0px;
	margin: 0;
	padding-top: 12px;
	padding-bottom: 20px;
	height: 32px;
	color : white;
 	font-family: monospace;
 	font-size: 12;
}

.cover:hover {
	outline: #dc6cb6 solid thick;
}

.cover > div {
	top: 0;
	width: 100%;
	padding-bottom: 75%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}